{% extends "__layout.html" %}
{% block layout %}
    <div class="block" style="margin: 15% 25%;">
        <div class="flight-info" style="background: gray;">
            <div class="row" style="display: flex;">
                <div style="width: 0; flex-grow: 1;">Номер рейса</div>
                <div style="width: 0; flex-grow: 1;">1</div>
            </div>
            <div class="row" style="display: flex;">
                <div style="width: 0; flex-grow: 1;">Название компании</div>
                <div style="width: 0; flex-grow: 1;">2</div>
            </div>
            <div class="row" style="display: flex;">
                <div style="width: 0; flex-grow: 1;">Номер рейса</div>
                <div style="width: 0; flex-grow: 1;">3</div>
            </div>
            <div class="row" style="display: flex;">
                <div style="width: 0; flex-grow: 1;">Номер рейса</div>
                <div style="width: 0; flex-grow: 1;">4</div>
            </div>
            <div class="row" style="display: flex;">
                <div style="width: 0; flex-grow: 1;">Номер рейса</div>
                <div style="width: 0; flex-grow: 1;">5</div>
            </div>
            <div class="row text-center">
                <button class="btn btn-primary text-center" type="button">Начать
                    регистрацию</button>
            </div>

        </div>
    </div>
{% endblock %}