{% extends "__layout.html" %}
{% block layout %}
<div class="input-group">
  <input id="firstname" type="text" class="form-control" placeholder="Имя" aria-label="Recipient's username" />
  <input id="lastname" type="text" class="form-control" placeholder="Фамилия" aria-label="Recipient's username"
    aria-describedby="basic-addon2">
  <input id="patronymic" type="text" class="form-control" placeholder="Отчество" aria-label="Recipient's username"
    aria-describedby="basic-addon2">
  <input id="birthdate" type="date" class="form-control" placeholder="Дата рождения" aria-label="Recipient's username"
    aria-describedby="basic-addon2">
  <input id="serias" type="number" class="form-control" placeholder="Серия" aria-label="Recipient's username"
    aria-describedby="basic-addon2">
  <input id="number" type="number" class="form-control" placeholder="Номер" aria-label="Recipient's username"
    aria-describedby="basic-addon2">
</div>
<div class="input-group-append">
  <button onclick="check_passport()" class="btn btn-primary" type="button">Продолжить</button>
</div>
<script>
  function check_passport() {
    const first = document.getElementById('firstname').value
    const last = document.getElementById('lastname').value
    const pat = document.getElementById('patronymic').value
    const birthdate = document.getElementById('birthdate').value
    const series = document.getElementById('serias').value
    const number = document.getElementById('number').value
    const passenger = {
      'firstname': first,
      'lastname': last,
      'patronymic': pat,
      'birthdate': birthdate,
      'series': series,
      'number': number
    }
    fetch('/api/passengers/validate', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(passenger)
    }).then(res => {
      const r = res.text()
      return r
    }).then(data => {
      if (data == 'True') {
        window.location = '/seat?flight={{context.id}}'
      }
      else {
        alert('Ошибка, Проверьте корректность паспортных данных')
      }
    })
  }
</script>
{% endblock %}